{% extends 'home.html' %}

{% block con %}
<main>
    <section class="notification">
        <h1>Notifications</h1>
        {% if notifications %}
            {% for notification in notifications %}
            <div class="notification-item">
                <div class="notification-box">
                    <p>{{ notification.get('reason') }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No notifications available.</p>
        {% endif %}
    </section>
</main>
{% endblock %}